# Volleyball Data handling

This notebook will be used handling data regarding volleyball courts, taken from the datasets supplied by Active Places Power, Sport England (https://www.activeplacespower.com/pages/downloads#download)

In [1]:
# import pandas

import pandas as pd

# Dataset Information

## sportshalls.csv

This dataset stores data about various sports halls around England, informing about the different courts available, the size of halls, etc.

## sites.csv

This dataset stores information about the sites themselves, as the sports halls do not store the name and information about the location itself, which I will have to use the siteID from sportshalls.csv to link to the siteID in sites.csv

In [2]:
# read sports hall csv
sports_halls = pd.read_csv('activeplacescsvs/sportshalls.csv', low_memory=False)

# read sites information csv
sites = pd.read_csv('activeplacescsvs/sites.csv')

In [3]:
sports_halls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14372 entries, 0 to 14371
Data columns (total 65 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Badminton Courts                               14371 non-null  float64
 1   Basketball Courts                              14371 non-null  float64
 2   Clearance exists - Ball / shuttlecock          14371 non-null  float64
 3   Cricket Nets                                   14371 non-null  float64
 4   Dimensions Estimate                            14372 non-null  int64
 5   Facility ID                                    14372 non-null  int64
 6   Five-A-Side Pitches                            14371 non-null  float64
 7   Floor Matting                                  14371 non-null  float64
 8   Futsal Courts                                  6264 non-null   float64
 9   Gymnastics / Trampoline Use                    14371 non-null  float64
 10  Length                                         14371 non-null  float64
 11  Moveable Balance Apparatus                     14371 non-null  float64
 12  Moveable Large Apparatus                       14371 non-null  float64
 13  Moveable Rebound Apparatus                     14372 non-null  int64
 14  Moveable Trampolines                           14372 non-null  int64
 15  Netball Courts                                 14372 non-null  int64
 16  Small Apparatus                                14372 non-null  int64
 17  Swinging and Hanging Apparatus                 14372 non-null  int64
 18  Area                                           14371 non-null  float64
 19  Volleyball Courts                              14372 non-null  int64
 20  Width                                          14372 non-null  float64
 21  Has changing rooms?                            14372 non-null  int64
 22  Are changing rooms refurbished?                14372 non-null  int64
 23  Year changing rooms refurbished                4319 non-null   float64
 24  Changing Place Toilets                         14372 non-null  int64
 25  Closure Reason                                 2674 non-null   float64
 26  Disability: Activity Area                      14372 non-null  int64
 27  Disability: Changing Facilities                14372 non-null  int64
 28  Disability: Doorways                           14372 non-null  int64
 29  Disability: Emergency Exits                    14372 non-null  int64
 30  Disability: Finding and reaching the entrance  14372 non-null  int64
 31  Disability Notes                               1342 non-null   object
 32  Disability: Parking                            14372 non-null  int64
 33  Disability: Reception Area                     14372 non-null  int64
 34  Disability: Social Areas                       14372 non-null  int64
 35  Disability: Spectator Areas                    14372 non-null  int64
 36  Disability: Toilets                            14372 non-null  int64
 37  Facility Subtype                               14372 non-null  int64
 38  Facility Type                                  14372 non-null  int64
 39  Operational Status                             14372 non-null  int64
 40  Operational Status Notes                       1030 non-null   object
 41  Meets Active Places Criteria                   14372 non-null  int64
 42  Date Opened                                    231 non-null    object
 43  Expected Opening Date                          6 non-null      object
 44  Operator Name                                  632 non-null    object
 45  Closed Date                                    2674 non-null   object
 46  Created Date                                   1995 non-null   object
 47  Last Updated Date                              14372 non-null  object
 48  Is Refurbished?                                14372 non-null  int64
 49  End Month                                      14372 non-null  int64
 50  Start Month                                    14372 non-null  int64
 51  Seasonality Type                               14372 non-null  int64
 52  Site ID                                        14372 non-null  int64
 53  Timing Type                                    14372 non-null  int64
 54  Year Built                                     14187 non-null  float64
 55  Year Built Estimated?                          14372 non-null  int64
 56  Year Refurbished                               4028 non-null   float64
 57  Easting                                        14372 non-null  int64
 58  Northing                                       14372 non-null  int64
 59  Latitude                                       14372 non-null  float64
 60  Longitude                                      14372 non-null  float64
 61  Management Type (Text)                         14372 non-null  object
 62  Management Type Group (Text)                   14372 non-null  object
 63  Accessibility Type (Text)                      14372 non-null  object
 64  Accessibility Type Group (Text)                14372 non-null  object
dtypes: float64(19), int64(34), object(12)
memory usage: 7.1+ MB

In [4]:
sites.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41981 entries, 0 to 41980
Data columns (total 79 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Active Partnership Code                        41943 non-null  object
 1   Active Partnership Name                        41981 non-null  object
 2   Cycle Hire?                                    41981 non-null  int64
 3   Building Name                                  11487 non-null  object
 4   Building Number                                3254 non-null   float64
 5   Car Park Capacity                              41980 non-null  float64
 6   Car Park Exists?                               41981 non-null  int64
 7   Changing Place Toilets                         41981 non-null  int64
 8   Closure Reason                                 4970 non-null   float64
 9   Core City Name                                 2658 non-null   object
 10  County Code                                    16200 non-null  object
 11  County Name                                    16219 non-null  object
 12  Has Cricket Bowling Machine(s)?                41981 non-null  int64
 13  Cycle Park?                                    41981 non-null  int64
 14  Dependent Locality                             15547 non-null  object
 15  Dependent Thorough Fare                        717 non-null    object
 16  Disability: Activity Area                      41981 non-null  int64
 17  Disability: Changing Facilities                41981 non-null  int64
 18  Disability: Doorways                           41981 non-null  int64
 19  Disability: Emergency Exits                    41981 non-null  int64
 20  Disability: Finding and reaching the entrance  41981 non-null  int64
 21  Disability Notes                               5822 non-null   object
 22  Disability: Parking                            41981 non-null  int64
 23  Disability: Reception Area                     41981 non-null  int64
 24  Disability: Social Areas                       41981 non-null  int64
 25  Disability: Spectator Areas                    41981 non-null  int64
 26  Disability: Toilets                            41981 non-null  int64
 27  Double Dependent Locality                      1230 non-null   object
 28  Education Phase                                41981 non-null  int64
 29  Email                                          30455 non-null  object
 30  Facebook                                       11154 non-null  object
 31  Has First Aid Room?                            41981 non-null  int64
 32  Forename                                       3165 non-null   object
 33  Job Title                                      2327 non-null   object
 34  LDP Code                                       3991 non-null   object
 35  LDP Name                                       3994 non-null   object
 36  Local Authority Code                           41943 non-null  object
 37  Local Authority Name                           41981 non-null  object
 38  Lower Super Output Area Code                   41981 non-null  object
 39  Middle Super Output Area Code                  41981 non-null  object
 40  Has Nursery?                                   41981 non-null  int64
 41  Operator Name                                  1517 non-null   object
 42  Output Area Code                               41981 non-null  object
 43  Parliamentary Constituency Code                41943 non-null  object
 44  Parliamentary Constituency Name                41981 non-null  object
 45  Postcode                                       41981 non-null  object
 46  Town                                           41981 non-null  object
 47  Public Notes                                   6886 non-null   object
 48  Last Audit Date                                41981 non-null  object
 49  Closed Date                                    4970 non-null   object
 50  Created Date                                   41981 non-null  object
 51  Last Updated Date                              41981 non-null  object
 52  Region Code                                    41943 non-null  object
 53  Region Name                                    41981 non-null  object
 54  Cycle Repair Workshop?                         41981 non-null  int64
 55  Site ID                                        41981 non-null  int64
 56  Site Name                                      41981 non-null  object
 57  Management Start Date                          2961 non-null   object
 58  Sub-Building Name                              1639 non-null   object
 59  Surname                                        3019 non-null   object
 60  Has Table Tennis Table(s)?                     41981 non-null  int64
 61  Telephone Number                               38730 non-null  object
 62  Thoroughfare Name                              40015 non-null  object
 63  Title                                          2824 non-null   float64
 64  TOID                                           29434 non-null  object
 65  Twitter/X                                      10206 non-null  object
 66  UPRN                                           41979 non-null  float64
 67  Ward Code                                      41943 non-null  object
 68  Ward Name                                      41981 non-null  object
 69  Website                                        33898 non-null  object
 70  Easting                                        41981 non-null  int64
 71  Northing                                       41981 non-null  int64
 72  Site Alias                                     6407 non-null   object
 73  Ownership Type (Text)                          41981 non-null  object
 74  Management Type (Text)                         41981 non-null  object
 75  Ownership Type Group                           41981 non-null  object
 76  Management Type Group                          41981 non-null  object
 77  lat                                            41981 non-null  float64
 78  long                                           41981 non-null  float64
dtypes: float64(7), int64(23), object(49)
memory usage: 25.3+ MB

# Data cleaning

First step was to only select the columns that I believe to be of importance. 

I will require the __SiteID__ and __FacilityID__ to be able to link the information about the sports halls with the names of the facilities and locations of them.

I will need to gather various information about the sports halls in regards to volleyball, such as __number of vb courts__, the __size__ of the sports halls, if they __have changing rooms__, and other information that may be useful for people.

when visualising the data, there are a number of sports halls which do not have any volleyball courts available which I will have to remove from the dataset.

## Sports halls data clean-up

### Variable documentation

- __sports_halls_volley__: specific columns selected of importance
- __vb_courts_count__: count of number of vb courts occurrence
- __filtered_vb_courts__: filtered for only records with >=1 vb courts

In [5]:
# Selecting only specific columns about sports halls
sports_halls_volley = sports_halls[['Site ID', 'Facility ID', 'Volleyball Courts', 'Length', 'Width', 'Has changing rooms?', 'Facility Type', 'Facility Subtype', 'Latitude', 'Longitude', 'Accessibility Type Group (Text)']]

# Renaming certain columns that have unnecessarily long names
sports_halls_volley.rename({'Has changing rooms?': 'Changing Rooms', 'Accessibility Type Group (Text)': 'Access Type'}, axis=1, inplace=True)

sports_halls_volley.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14372 entries, 0 to 14371
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Site ID            14372 non-null  int64
 1   Facility ID        14372 non-null  int64
 2   Volleyball Courts  14372 non-null  int64
 3   Length             14371 non-null  float64
 4   Width              14372 non-null  float64
 5   Changing Rooms     14372 non-null  int64
 6   Facility Type      14372 non-null  int64
 7   Facility Subtype   14372 non-null  int64
 8   Latitude           14372 non-null  float64
 9   Longitude          14372 non-null  float64
 10  Access Type        14372 non-null  object
dtypes: float64(4), int64(6), object(1)
memory usage: 1.2+ MB

C:\Users\kacpe\AppData\Local\Temp\ipykernel_68196\2485649503.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sports_halls_volley.rename({'Has changing rooms?': 'Changing Rooms', 'Accessibility Type Group (Text)': 'Access Type'}, axis=1, inplace=True)

In [6]:
sports_halls_volley.head()

,Site ID,Facility ID,Volleyball Courts,Length,Width,Changing Rooms,Facility Type,Facility Subtype,Latitude,Longitude,Access Type
0,1000004,2000007,0,34.5,20.0,1,6,6001,50.85914,-0.089625,Public Access
1,1000009,2000019,1,40.0,30.5,1,6,6001,53.26373,-2.891404,Public Access
2,1000010,2000022,0,18.0,17.0,1,6,6002,50.42324,-4.214078,Public Access
3,1000018,2000034,0,34.5,20.0,1,6,6001,51.58628,0.462723,Public Access
4,1000019,2000036,1,33.0,18.0,1,6,6001,52.55358,-1.897004,Public Access

In [7]:
# Checking occurrence number of volleyball courts for each sports hall

vb_courts_count = sports_halls_volley['Volleyball Courts'].value_counts()

print(vb_courts_count.sort_index())

Volleyball Courts
0    9634
1    4403
2     281
3      40
4      13
8       1
Name: count, dtype: int64

In [8]:
# Remove all records with 0 vb courts
filtered_vb_courts = sports_halls_volley[sports_halls_volley['Volleyball Courts'] > 0]

print(filtered_vb_courts['Facility Type'].value_counts().sort_index())

Facility Type
6    4738
Name: count, dtype: int64

In [9]:
print(filtered_vb_courts['Volleyball Courts'].value_counts().sort_index())

Volleyball Courts
1    4403
2     281
3      40
4      13
8       1
Name: count, dtype: int64

In [10]:
# Total of 0 sports halls with no volleyball courts
mask = filtered_vb_courts['Volleyball Courts'] == 0

print(mask.sum())

0

In [11]:
# Final result
filtered_vb_courts.head()

,Site ID,Facility ID,Volleyball Courts,Length,Width,Changing Rooms,Facility Type,Facility Subtype,Latitude,Longitude,Access Type
1,1000009,2000019,1,40.0,30.5,1,6,6001,53.26373,-2.891404,Public Access
4,1000019,2000036,1,33.0,18.0,1,6,6001,52.55358,-1.897004,Public Access
11,1000056,2000107,1,34.5,20.0,1,6,6001,53.55635,-2.233766,Public Access
13,1000070,2000129,1,27.0,18.0,1,6,6001,51.39739,-1.298654,Public Access
21,1000097,2000180,1,30.0,24.0,1,6,6001,51.51729,-0.130378,Public Access

In [12]:
nan_vb = filtered_vb_courts.isna().sum()
print(nan_vb)

Site ID              0
Facility ID          0
Volleyball Courts    0
Length               0
Width                0
Changing Rooms       0
Facility Type        0
Facility Subtype     0
Latitude             0
Longitude            0
Access Type          0
dtype: int64

I now have the __filtered_vb_courts__ variable which is the cleaned version of the __sports_halls__ dataset

## Sites data clean-up

In [13]:
# Selecting only specific columns about sports halls
sites_updated = sites[['Site ID', 'Site Name', 'Car Park Capacity', 'Cycle Park?', 'Local Authority Name', 'Postcode', 'Town', 'Region Name', 'lat', 'long']]

sites_updated.head()

,Site ID,Site Name,Car Park Capacity,Cycle Park?,Local Authority Name,Postcode,Town,Region Name,lat,long
0,30010710,TEN ARCE FIELD,0.0,0,West Suffolk,IP32 7DA,BURY ST. EDMUNDS,East of England,52.24416,0.735483
1,30003564,EASTCOMBE SCOUT HUT PITCH,30.0,0,Stroud,GL6 7DY,STROUD,South West,51.73487,-2.157465
2,1005515,MOTCOMBE PARK SPORTS CLUB,400.0,1,Dorset,SP7 9QA,SHAFTESBURY,South West,51.01973,-2.216240
3,1008868,YORK ST JOHN UNIVERSITY (YSJACTIVE GYM),100.0,1,York,YO31 7EX,YORK,Yorkshire and The Humber,53.96486,-1.079552
4,30007658,BELMONT MILL HILL PREPARATORY SCHOOL,30.0,1,Barnet,NW7 4ED,LONDON,London,51.62357,-0.234825

In [14]:
site_disability_info = sites[['Site ID', 'Disability: Activity Area', 'Disability: Changing Facilities', 'Disability: Doorways', 'Disability: Emergency Exits', 'Disability: Finding and reaching the entrance', 'Disability: Parking', 'Disability: Reception Area', 'Disability: Social Areas', 'Disability: Spectator Areas', 'Disability: Toilets']]

In [15]:
# Find if there are any NaN values
nan_sites = sites_updated.isna().sum()
print(nan_sites)

Site ID                 0
Site Name               0
Car Park Capacity       1
Cycle Park?             0
Local Authority Name    0
Postcode                0
Town                    0
Region Name             0
lat                     0
long                    0
dtype: int64

In [16]:
# Find row with NaN value 
empty = sites_updated.isna().any(axis=1)
empty_rows = sites_updated[empty]
print(empty_rows)

        Site ID                  Site Name  Car Park Capacity  Cycle Park?  \
18801  30009987  PRINCE ALBERT HIGH SCHOOL                NaN            1

      Local Authority Name Postcode        Town    Region Name       lat  \
18801           Birmingham  B42 2TU  BIRMINGHAM  West Midlands  52.52111

           long
18801 -1.894346

In [17]:
# Since only NaN value is in car park capacity
# Assume car park has no space so fill with 0
cleaned_sites = sites_updated.fillna(0)
print(cleaned_sites.isna().sum())

Site ID                 0
Site Name               0
Car Park Capacity       0
Cycle Park?             0
Local Authority Name    0
Postcode                0
Town                    0
Region Name             0
lat                     0
long                    0
dtype: int64